<!doctype html>
<html>
  <head>
    <title>Pets in Hats</title>
  </head>
  <body>
    <h1> Get ready to see an animal in a hat!</h1>
  <form method="POST">
    <h4> Choose an animal: </h4>
    <br>
    <input type = "radio" name = "user_animal" value = "dog">Dog<br>
    <input type = "radio" name = "user_animal" value = "cat">Cat<br>
    <h4>Choose a hat: </h4>
    <br>
    <input type = "radio" name = "user_hat" value = "party-hat">Party Hat<br>
    <input type = "radio" name = "user_hat" value = "top-hat">Top Hat<br>
    <input type = "radio" name = "user_hat" value = "bucket-hat">Bucket Hat<br>
    <input type = "submit" value = "Show me that cute animal!">
  </form>
  </body>
</html>
