<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>SmartPost</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
  </head>
  <body background="http://s7.favim.com/orig/150107/background-emoji-wallpaper-emoji-wallpaper-Favim.com-2366197.jpg">
  <!-- <div class="end_page"> -->

    <h1>Looks like you should use...</h1>
    <h2> Instagram </h2>

    <a href="https://www.instagram.com/?hl=en"><h3> Instagram </h3>
    <a href="https://www.facebook.com/"><h3> Facebook </h3>
    <a href="https://www.twitter.com/"><h3> Twitter </h3>
    <a href="https://www.snapchat.com"><h3> Snapchat </h3>
    <a href="https://www.youtube.com"><h3> Youtube </h3>

  </body>
</html>


