#this will display the image of the animal in the hat
<!doctype html>
<html>
  <head>
    <title>Results!!</title>
  </head>
  <body>
    <h1>HERE IS THE CUTE ANIMAL!!</h1>
    <img src = "<%=@animal_pic%>"/>
  </body>
</html>
